<!-- templates/admin/index.html -->
{% extends "admin/index.html" %}

{% block content %}
    <div class="module">
        <h2>DASHBOARD</h2>
        <table>
            {% load admin_external_services_tags %}
            {% get_external_services as services %}
            {% for service in services %}
            <tr>
                <th scope="row">
                    <a href="{{ service.url }}" target="_blank">
                        {{ service.name }}
                    </a>
                </th>
                <td>{{ service.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    {{ block.super }}
{% endblock %}